{% extends "base-dashboard.html" %}
{% block title %} {% endblock title %}
{% block main_content %}
<div class="container mx-auto mt-5 mb-5 px-4">
    <div class="flex flex-col items-center">
        <div class="w-full">
            <div class="bg-white shadow-lg rounded-lg text-center p-6">
                <div class="flex justify-center py-4">
                    <div class="flex items-center justify-center w-full">
                    </div>
                </div>
                <div class="py-4">
                    <h1 class="text-4xl font-bold">Categoría: {% block deptname %} {% endblock deptname %}</h1>
                    <p class="text-lg text-gray-600 py-2">¡Bienvenido a producto por categoría!</p>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    <!-- Content here -->
    {% endblock content %}
</div>

{% endblock main_content %}