{% extends "base-dashboard.html" %}

{% block main_content %}
<div class="w-full flex flex-col items-center justify-center px-6 py-10 md:py-16 lg:py-20">
    <!-- Título y descripción -->
    <div class="flex flex-col items-center text-center">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold mb-3 md:mb-5">Amazon</h1>
        <p class="text-sm md:text-base text-gray-600 max-w-[80%] md:max-w-[60%] lg:max-w-[50%] mx-auto">
            Las oficinas de Amazon son centros de innovación y tecnología donde se desarrollan soluciones que transforman 
            la manera en que el mundo compra y accede a servicios digitales. En estos espacios, equipos multidisciplinarios 
            trabajan para mejorar la experiencia del cliente y crear el futuro del comercio electrónico.
        </p>
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold mb-3 md:mb-5 mt-20">Oficinas</h1>        
    </div>

    <!-- Contenedor principal -->
    <div class="flex flex-col md:flex-row items-center justify-center gap-6 md:gap-10 lg:gap-14 mt-8 md:mt-12">

        <!-- Mapa -->
        <div class="w-full md:w-1/2 lg:w-[500px] max-w-[600px]">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5623.621245597952!2d-74.12350315734923!3d4.682685331030879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b19a0a9e02f%3A0xed9fa23d03782bcd!2sAmazon%20Colombia!5e0!3m2!1ses-419!2sco!4v1741355155781!5m2!1ses-419!2sco"
              class="w-full h-60 md:h-80 lg:h-96 rounded-lg shadow-lg"
              frameborder="0"
              allowfullscreen>
            </iframe>
        </div>

        <!-- Tarjeta del equipo -->
        <div class="shadow-lg rounded-lg flex flex-col items-center text-center w-full md:w-1/3 lg:w-[500px] bg-white"> 
            <div class="w-full flex justify-center">
                <img src="https://www.paparazzitolima.com/assets/amazon-Colombia.jpg" 
                     alt="Imagen" 
                     class="w-full h-[180px] md:h-[220px] lg:h-[250px] object-cover rounded-t-lg mb-4">
            </div>
            <div class="flex flex-col gap-2 items-center mb-10 mt-4">
                <h2 class="text-xl md:text-2xl font-semibold">Bogotá</h2>
                <p class="text-sm md:text-base text-gray-600">Colombia</p>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}